<a class="navbar-brand" href="/">Project Manager</a>
<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
        <a class="nav-item nav-link " 
        routerLink="/project" routerLinkActive="active"
        href="/project">Add Project</a>
        <a class="nav-item nav-link" 
         routerLink="/addtask" 
         href="/addtask" routerLinkActive="active">Add Task</a>
         <a class="nav-item nav-link" 
         routerLink="/user" 
         routerLinkActive="active" href="/user">Add User</a>
         <a class="nav-item nav-link " 
         routerLink="/viewtask" routerLinkActive="active"
         href="/viewtask">View Task</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
     
    </div>
  </div>
</nav>